<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="WaterShed.DataToWeb.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><applicationSettings>
        <WaterShed.DataToWeb.Properties.Settings>
            <setting name="mainTimer_Interval" serializeAs="String">
                <value>60000</value>
            </setting>
            <setting name="CheckURL" serializeAs="String">
                <value>https://data.solarteam.org/fromwhen.php</value>
            </setting>
            <setting name="PostURL" serializeAs="String">
                <value>https://data.solarteam.org/post.php</value>
            </setting>
            <setting name="PostUser" serializeAs="String">
                <value>$HTTPPOSTUSER</value>
            </setting>
            <setting name="PostPass" serializeAs="String">
                <value>$HTTPPOSTPASSWORD</value>
            </setting>
            <setting name="ConnString" serializeAs="String">
                <value>Server=localhost;Port=3306;database=$DBNAME;Uid=$DBUSERID;Pwd=$DBPASSWORD;</value>
            </setting>
            <setting name="Timeout" serializeAs="String">
                <value>90</value>
            </setting>
            <setting name="NumRowsAtATime" serializeAs="String">
                <value>1000</value>
            </setting>
        </WaterShed.DataToWeb.Properties.Settings>
    </applicationSettings>
</configuration>
