<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="WaterShed.Enphase_Logger.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><applicationSettings>
        <WaterShed.Enphase_Logger.Properties.Settings>
            <setting name="mainTimer_Interval" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="ConnString" serializeAs="String">
                <value>Server=localhost;Port=3306;database=$DBNAME;Uid=$DBUSER;Pwd=$DBPASSWORD;</value>
            </setting>
            <setting name="ServerURL" serializeAs="String">
                <value>http://192.169.1.7</value>
            </setting>
        </WaterShed.Enphase_Logger.Properties.Settings>
    </applicationSettings>

</configuration>
