<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">

  <!-- make sure to set 'Copy To Output Directory' option for this file -->
  <!-- go to http://nlog-project.org/wiki/Configuration_file for more information -->

  <extensions>
    <add assembly="MySql.Data.MySqlClient" />
  </extensions>
  
  <targets>
    <target name="logfile" xsi:type="File" fileName="logfile.txt" layout="${longdate}: ${message}  ${exception:format=tostring}" />
    <target name="baddatapointlog" xsi:type="File" fileName="${basedir}\bad_data_${shortdate}.txt" layout="${level:uppercase=true} ${longdate}: ${message}  ${exception:format=tostring}" />
    <target name="dblog" xsi:type="Database"
            connectionString="Server=localhost;Port=3306;Database=datalogger;Uid=datalogger;Pwd=LoggingTheData;"
            dbProvider="MySql.Data.MySqlClient"
            commandText="insert into log_table( time_stamp,logger,loglevel,message) Values(?TIME_STAMP,?LOGGER,?LOGLEVEL,?MESSAGE)">
      <parameter name="TIME_STAMP" layout="${longdate}"/>
      <parameter name="LOGGER" layout="${logger}"/>
      <parameter name="LOGLEVEL" layout="${level:uppercase=true}"/>
      <parameter name="MESSAGE" layout="${message} ${exception:innerFormat=Message,Type,Method:maxInnerExceptionLevel=1:innerExceptionSeparator=|:format=Message,Type,Method}"/>
    </target>
  </targets>

  <rules>
    <logger name="DataPacket" minlevel="Trace" writeTo="baddatapointlog" final="true" />
    <logger name="*" minlevel="Info" writeTo="logfile" />
    <logger name="*" minlevel="Trace" writeTo="dblog" />
  </rules>
</nlog>
